<div class="jumbotron center">
<h1>Acerca de nosotros</h1>
<p>Estamos trabajando en la aplicación de pintrest hecha en Rails</p>
<p><%= link_to"INICIAR SESION","#",class: 'btn btn-default btn-lg'%></p>
<p>REGISTRATE <%= link_to"AQUI","https://www.hotmail.com",class: 'btn btn-primary btn-lg'%></p>
</div>
