/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import url('https://fonts.googleapis.com/css?family=Lobster');

$body-bg:rgba(127, 140, 141,1.0);
$font-family-sans-serif:"Lobster","Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-default-bg:white;
$navbar-default-brand-color: #cb2129;
$brand-primary: #cb2129;
$jumbotron-bg: blue; 
 
/*$navbar-default-link-color:rgba(211, 84, 0,1.0);
 * 
 */
@import 'bootstrap';
.center{
  text-align:center;
}

.navbar-brand{
  font-wight: bold;
}
